<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ShopAPI</title>
</head>
<body>
    <h1>ShopAPI</h1>
    <h2>The Product Info API</h2>

    <b>You can fetch data to shopping sites.</b>
    <p>brand, title, price, image</p>
    <b>From gittigidiyor.com, hepsiburada.com, trendyol.com now.</b>
    <br><br><br>
    <b>Usage</b>
    <p>/api/?origin={website}&pathname={path}</p>
</body>
</html>